{% extends "base.html" %}
{% load static %}
{% block page_content %}
<div class="home_container">
    <h1>Home</h1>
    <hr>
    <div class="row">
        <div class="col-md-9">
            <h2>Resume</h2>
            <embed src="/static/pdf/VDoebblerResume1.pdf" width="800px" height="1100px" />
        </div>
        <div class="col-md-3">
            <h2>Contact</h2>
            <ul style="list-style-type:none;margin:0;padding:0;">
                <li>(812) 989-4072</li>
                <li><a href="mailto:victor.doebbler@gmail.com">Email</a></li>
                <li><a href="https://www.linkedin.com/in/victor-doebbler/">LinkedIn</a></li>
                <li><a href="https://github.com/VDoebbler">GitHub</a></li>
        </div>
    </div>
</div>
{% endblock %}